body{
	background-color:white;
}
.main-container{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}
.individual-container{
	width:25%;
	min-width:300px;
	height:600px;
	border:2px solid black;
}
.pic-container{
	width:100%;
	height:400px;
	background-size:195% 100%;
	background-position:-170px;

}
.datecontainer{

}
@font-face {
    font-family: Slabo;
    src: url(Slabo13px-Regular.ttf);
}
@font-face {
    font-family: Lato;
    src: url(sansation_light.woff);
}